@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* MenuControl */
.widFull{
  height: 70vh;
  width: 50vw;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px;
}
.leftCont{
  width: 40%;
  /* background-color: #565761; */
  /* background-color: aliceblue; */
}

.rightCont{
  width: 60%;
  overflow-y: scroll;
  scroll-behavior: smooth;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  /* background-color: aquamarine; */
}
.width50{
  width: 100%;
  height: 60vh;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid white;
  background-color: #565761;
}
.width50 .str-video__video-preview-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.my-video-filters{
  margin-top: 15px;
}
.blurEffect{
  gap: 10px;
  display: flex;
  margin: 10px auto;
}
.backgrounds{
  margin: 15px auto;
}
.blurEffect button{
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 10px;

}
.leftCont ul li{
  display: flex;
  gap: 5px;
  padding: 10px;
  font-size: 16px;
  align-items: center;
}
.backGroundUl{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
.backGroundUl li {
  height: 125px;
  width: 200px;
}

.backGroundUl li img {
  object-fit: cover !important; /* Ensures the image fits within the container */
  height: 100% !important;
  width: 100% !important;
  border-radius: 20px;
}
/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}
.mobileHide{
  display: none;
}
.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}
.cl-providerIcon__github {
  filter: brightness(8);
}
.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.str-video__composite-button__button-group .str-video__call-controls__button.str-video__menu-toggle-button{
  background-color: inherit!important;
}
/* ==== clerk class override ===== */

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;
}

/* Chat - UI */
/* .str-chat__channel-header {
  display: flex;
  align-items: center;
  /* background: aqua; 
  justify-content: flex-start;
  gap: 10px;
  margin-left: -10px;
}
.str-chat__avatar-image {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  max-width: 40px;
}
.str-chat__avatar
  .str-chat__message-sender-avatar
  .str-chat__avatar--one-letter {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
}
.str-chat__empty-channel {
  display: flex;
  height: 50vh;
  padding: 10px 0;
}
.str-chat__empty-channel svg {
  height: 24px !important;
  margin-left: -12%;
  margin-right: -9%;
}
.str-chat__file-input {
  display: none;
}
.str-chat__message-metadata , .str-chat__message-error-icon{
  display: none;
}
.str-chat__message-textarea {
  width: 100% !important;
  border: 1px solid rgb(204, 204, 204)!important;
  border-radius: 25px!important;
  padding: 10px 45px!important;
  height: auto!important;
  min-height: 40px !important;
max-height: 100px!important;
  resize: none
}
.str-chat__send-button{
  position: absolute;
  right: 4%;
  top: 21%;
}
.str-chat__file-input-container{
  position: absolute;
  left: 5%;
  top: 22%;
}
.str-chat__message-input{
  position: relative;
}
.str-chat__main-panel-inner{
  height: 87%
}
.str-chat__channel , .str-chat__container{
  height: 100%;
} */
.str-chat__channel .str-chat__container{
  flex-direction: column
}
/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}

@media (max-width: 639px) {
  .mobileHide {
    display: block;
  }
}